@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-gray-50 text-slate-800;
  }
}

@keyframes marquee-rtl {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@layer utilities {
  .animate-marquee-rtl {
    animation: marquee-rtl 35s linear infinite;
  }
}